body{
    background-image: url(https://img.freepik.com/free-vector/abstract-topography-map-design-with-heat-map-overlay_1048-12486.jpg?semt=ais_hybrid&w=740&q=80);
}
.container2 {
    background-color: rgb(39, 41, 52);
    border-radius: 10px;
    color:rgb(249, 241, 228);
    border: 5px solid rgb(255, 241, 179);
    padding: 5%;
}

img {
    margin-left: 200px;

  }